[Unit]
Description=Supprmier les anciennes attestations d'hébergement tous les jours à 2h du matin
Requires=attestation-gc.service

[Timer]
OnCalendar=daily
OnCalendar=*-*-* 02:00:00
Persistent=true
Unit=attestation-gc.service

[Install]
WantedBy=timers.target

